.div1{
    background-image: url(https://images.unsplash.com/photo-1606787366850-de6330128bfc?ixid=MnwxMjA3fDF8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=750&q=80);
    background-repeat: no-repeat;
    background-size: cover;
}
.div2{
    background-color: rgba(255,255,255,0.2);
    margin:auto;
}
table{
    background: rgb(179, 162, 162);
    border: 5px solid black;
    color:black;
    margin: auto auto;

}

